@model CustomerMeterDetails
@using System.Globalization;

@{
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Customers").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Meter Details");
    Html.AppendCssFileParts("~/Administration/Content/bootstrap/css/bootstrap.min.css");
    Html.AppendScriptParts("~/Administration/Scripts/bootstrap/bootstrap.min.js");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Customer Meter Details
        </h1>
        <br/>
        <div class="content">
            <div class="form-horizontal">
                <div class="panel-group">
                    <div class="panel panel-default panel-search">
                        <div class="panel-body">
                            <div class='form-horizontal well'>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset>
                                                    <legend>Consumer Details</legend>
                                                    <div class="control-group">
                                                        <label class="control-label">Meter ID: @Model.meterId</label><br />
                                                        <label class="control-label">Customer Name: @Model.customerName</label><br />
                                                        <label class="control-label">Billing Unit: @Model.BillingUnit</label><br />
                                                        <label class="control-label">Location:@Model.location</label><br />
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <fieldset>
                                                    <legend>Consumption Details</legend>
                                                    <div class="control-group">
                                                        <label class="control-label">Consumption Unit Reading:@Model.ConsumptionUnitReading</label><br />
                                                        <label class="control-label">Previous Consumbption Unit Reading:@Model.PreviousConsumptionUnitReading</label><br />
                                                        @*<label class="control-label">Billing Unit: BillingUnit</label>*@<br />
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="background-color:#ccc">
                                        <fieldset>
                                            <legend>Billing Details</legend>
                                            <div class="control-group">
                                                <label class="control-label">Bill Period From: @Model.BillPeriodFrom</label><br />
                                                <label class="control-label">Bill Period To:@Model.BillPeriodFrom</label><br />
                                                <label class="control-label">Bill Amount: @Model.BillAmount $</label><br />
                                                <label class="control-label">Bill Payment Date: @Model.BillPaymentDate</label><br />
                                                <label class="control-label">Bill Due Date: @Model.BillDueDate</label><br />
                                                <label class="control-label">Last Bill Amount: @Model.LastBillAmount</label><br />
                                                <label class="control-label">Last Bill Payment Date: @Model.LastBillPaymentDate</label><br />
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            
                            @if (@Model.Status)
                            {
                                <button class="btn btn-danger deact" id="@Model.meterId" data-status="@Model.Status">Deactivate</button>
                            }
                            else
                            {
                                <button class="btn btn-success act" id="@Model.meterId" data-status="@Model.Status">Activate</button>
                            }
                                
                            
                            

            <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

                            <script>
    $(document).ready(function () {
        $(".deact").bind("click", function (e) {
            //e.preventDefault()
            debugger
            var data = {};
            data.DeviceId = $(this).attr("id");
            data.Status = false;
            var token = $('input[name="__RequestVerificationToken"]').val();
            debugger
            $.ajax({
                url: "/Admin/Customer/UpdateCustomereProductStatus",
                type: 'POST',
                //data: {
                //    __RequestVerificationToken: token,
                //    data:data},
                data: {
                    __RequestVerificationToken: token,
                    DeviceId: data.DeviceId,
                    Status: data.Status
                },
                success: function () {
                    window.location.href = "/Admin/Customer/CustomerMeterDetails/@Model.meterId"
                    //location.reload();
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    debugger;
                    window.location.href = "/Admin/Customer/CustomerMeterDetails/@Model.meterId"
                }
            });

        })
        $(".act").bind("click", function (e) {
            //e.preventDefault()
            debugger
            var data = {};
            data.DeviceId = $(this).attr("id");
            data.Status = true;
            var token = $('input[name="__RequestVerificationToken"]').val();
            debugger
            $.ajax({
                url: "/Admin/Customer/UpdateCustomereProductStatus",
                type: 'POST',
                //data: {
                //    __RequestVerificationToken: token,
                //    data:data},
                data: {
                    __RequestVerificationToken: token,
                    DeviceId: data.DeviceId,
                    Status: data.Status
                },
                success: function () {
                    debugger;
                    window.location.href = "/Admin/Customer/CustomerMeterDetails/@Model.meterId"
                    // location.reload();
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    debugger;
                    window.location.href = "/Admin/Customer/CustomerMeterDetails/@Model.meterId"
                }
            });

        })
    });


            var config = {
                apiKey: "AIzaSyDIXCGE7OJgPvn8zO_jqKRkSHpziBbB2z4",
                authDomain: "smarthome.firebaseapp.com",
                databaseURL: "https://smarthome-46be4.firebaseio.com",
                messagingSenderId: "994315037246",
                storageBucket: "smarthome-46be4.appspot.com"
            };
            firebase.initializeApp(config);

            var customerMeterDetails = firebase.database().ref('smartmeterslogs/@Model.meterId/');
            customerMeterDetails.on('value', function (snapshot) {
                alert(' Refresh Values');
            });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        }
