@model CustomerMetersModel
@using Nop.Web.Models.Customer;
@using Nop.Core;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title
    Html.AddTitleParts("My Account-My Meters");
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-customer-info-page");
}
@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.Info })
}
@*
    <script>
          $(".page-body").append("<ul></ul>");
          for (var i in model) {
              var li = "<li>";
              $("ul").append(li.concat(arr[i]))
          }
    </script>*@
<div class="page account-page customer-info-page">
    <div class="page-title">
        <h1>My Account - My Meters</h1>
    </div>
    <div class="page-body">
        @*<ul>
                <li>
                <li>
            </ul>*@
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            var validationSummary = Html.ValidationSummary(true);
            if (!MvcHtmlString.IsNullOrEmpty(validationSummary))
            {
                <div class="message-error">@validationSummary</div>
            }
            @*<div class="fieldset">
                    <div class="title">
                        <strong>Customer Meters</strong>
                    </div>
                    <table class="table-striped" border="1">
                        <tr>
                            <th>Meter ID</th>
                            <th>Status</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="CustomerMeterDetails">@Model.meterId</a>
                            </td>
                            <td>
                                Active
                            </td>
                        </tr>

                    </table>

                </div>*@
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="products-grid"></div>

                    <script>
                        $(document).ready(function () {
                            $("#products-grid").kendoGrid({
                                dataSource: {
                                    data: [{
                                        "Id": @Model.meterId,
                                        "Status": "Active",
                                        "Payment": "Due"
                                    },
                                    {
                                        "Id": @Model.meterId,
                                        "Status": "Inactive",
                                        "Payment": "Ok"
                                    }],
                                    schema: {
                                        model: {
                                            fields: {
                                                Status: { type: "string" },
                                                Id: { type: "number" },
                                                Payment: { type: "string" }
                                            }
                                        }
                                    },
                                    error: function (e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true,
                                    pageSize: 20
                                },
                                pageable: {
                                    input: true,
                                    numeric: false
                                },
                                scrollable: false,
                                sortable: true,
                                filterable: true,
                                columns: [
                                    {
                                        field: "Id",
                                        title: "Device Id",
                                        template: '<a href="CustomerMeterDetails">@Model.meterId</a>',
                                        attributes: { style: "text-align:center" },
                                        width: 300
                                    },
                                                            {
                                                                field: "Payment",
                                                                title: "Payment",
                                                                template: '# if(Payment=="Ok") {# <span class="label label-success">Ok</span> #} else {# <span class="label label-danger">Due</span>#} #',
                                                                attributes: { style: "text-align:center" },
                                                                width: 300
                                                            },
                                                            {
                                                                field: "Status",
                                                                title: "Status",
                                                                template: '# if(Status=="Active") {# <span class="label label-success">Active</span> #} else {# <span class="label label-danger">Inactive</span>#} #',
                                                                attributes: { style: "text-align:center" },
                                                                width: 300
                                                            },

                                ]
                            });
                        });
                    </script>
                </div>
            </div>
        }

    </div>
</div>